@import 960/grid.sass

#alternative-section

  h2
    margin-bottom: 36px
  
  #alternative
    +alpha
    +grid(8, 16)
    
    img
      width: 454px
      border: 1px solid #c5c5c5
      padding: 3px
      
  #actions
  
  #comments
    +omega
    +grid-prefix(1, 16)
    +grid(7, 16)
    
    #comments-form
      label
        +multilinex(6)