@import 960/grid.sass
#featured
  +alpha
  +omega
  +grid(16, 16)
  margin-bottom: 18px
  
  .inner
    background: #f5f5f5
    border: 1px solid #ccc
    padding: 9px
  
  h3
    color: #a5a5a5
  
  h1
    margin-top: 0px
  
#stream
  +alpha
  +grid(9,16)

#projects
  +omega
  +grid(7,16)
  
  a.button
    font-size: 15px
    float: right