@import compass/reset.sass
@import compass/utilities/general.sass
@import compass/utilities/links.sass

@import 960/grid.sass

+global-reset

@import baseline/modules/base.sass
+baseline-base

@import baseline/type.sass
+baseline-type

=hidden
  display: none

body
  color: #333
  background-color: #eeeeee

  #content
    background-color: white
    border: 1px solid #d0d0d0
    border-top: 0
    padding-bottom: 2em
  
!highlight = "#2F72FF"

#bar
  background-color: #E2F2FA
  padding: 0px 0px 3px 5px
  border-bottom: 1px solid #c5c5c5
  
  a
    border: 0
    text-decoration: none
    font-weight: bold
    
    &:hover
      background: none
      color: #333
  
  a#logo:hover span.offcolor
    :color= !highlight
  
  .inner
    +grid-system(16)
    +clearfix
    +grid-children
  
    #logo
      +alpha
      +grid(3, 16)
      letter-spacing: 0.2em
      
      span.offcolor
        color: #888
        
      #typelogo
        font-family: "Century Gothic"
        letter-spacing: -0.2em
        margin-right: 10px
        
        #ll, #rr
          font-size: 0.7em
          position: relative
        
        #ll
          top: -1px
          left: 1px
          
        #rr
          top: -2px
          left: -1px
        
        #l, #r
          font-size: 1.1em
          position: relative
          
        #l
          top: 3px
          left: 1px
        
        #r
          top: -3px
          left: -2px
          
        #c
          font-size: 1.5em
          position: relative
          top: 1px
    #options
      +omega
      +grid-prefix(10, 16)
      +grid(3, 16)
      padding-top: 6px
      #logout
        margin-left: 5px
        color: #D71304
#content
  +grid-system(16)
  +clearfix
  +grid-children
  
  h2
    +alpha
    +omega
    +grid(16, 16)
    font-weight: bold
    
    .dephasis
      color: #999
      font-size: 22px
      font-weight: normal
    
a
  color: #333
  text-decoration: none
  border-bottom: 1px solid #333
  
  &:hover
    border: 0
    :background-color= !highlight
    color: white

.blank
  font-family: Times New Roman, serif
  color: #757575
  font-style: italic
  letter-spacing: 0.1em

span.sect
  color: #e5e5e5
  
#overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 2000px
  overflow: hidden
  z-index: 5
  opacity: 0.6
  background: #000
  
#login-form
  +alpha
  +omega
  +grid(16, 16)

@import utils.sass

.button
  +button

@import default_index.sass
@import logged_index.sass
@import project.sass
@import create.sass
@import signup.sass
@import iterations.sass
@import alternative.sass

#chooseUploader
  position: absolute