%section
  %h2 Create a project

  %section#create
    %h4 Step 1
    %h3
      %a#browse-link{:href => "/upload"} Choose pictures
      %span#choose
    %h4 Step 2
    %h3 Upload Pictures

    %h4 Step 3
    %h3 Describe & Annotate
  
    %h4 Step 4
    %h3 Invite others to collaborate
  
%script{:type => "text/javascript", :src => "js/upload.js"}