

#header
  %h1 cropcircle
  
  %ul#menu
    %li
      %a{:href => "/"} Home
    %li
      %a{:href => "/tour"} Tour
    %li#signup
      %a{:href => "/signup"} Sign up
    %li
      %a{:href => "/login"} Login to your account

#description
  %h2 What is Cropcircle?
  %p
    Crop circle is a hosted web application focused on making iterative design simpler
  
  #notice
    Crop circle is currently in limited beta. Signup for an access to the beta.
  
  %h3 Iterate

  %h3 Annotate

  %h3 Collaborate