%h2= "Welcome, #{current_user.name}"
#stream
  %h3 Activity Stream
#projects
  %h3 Projects
  - if !current_user.projects.empty?
    %ul
      - for project in current_user.projects
        %li
          %a{:href => "/project/#{project.id}"}= project.name
  - else
    No projects yet.
    %a{:href => "/create"} Create a new one
    