%h2 Dashboard


- unless current_user.projects.all.empty?
  - featured = current_user.projects.first(:order => "created_at desc")
  #featured
    .inner
      %h3
        featured project
      
      %h1
        %a{:href => project_url(featured)}= featured.name

#stream
  %h3 Activity Stream
  %p.blank
    No activities in the stream yet.
#projects
  %h3
    Projects
    %a.button{:href => "/create"}
      %span.plus +
      Start a new project
  - if !current_user.projects.empty?
    %ul
      - for project in current_user.projects
        %li
          %a{:href => project_url(project)}= project.name
  - else
    No projects yet.
    %a{:href => "/create"} Create a new one
    