%form{:method => "post"}
  username
  %input#username{:type => "text", :name => "username"}
  %br
  Password
  %input#password{:type => "password", :name => "password"}
  %br
  %input{:type => "submit", :value => "login"}