%h2 Sign up to Project Birch
#signup-form
  %form{:method => "POST"}
    %label.width2
      Name
      %input#name{:type => "text", :name => "user[name]"}
    %label.width2
      Login
      %input#username{:type => "text", :name => "user[username]"}
    %label.width2
      E-mail
      %input#email{:type => "text", :name => "user[email]"}
    %label.width2
      Password
      %input#password{:type => "password", :name => "user[password]"}
    %label
      %button#create-project.button signup